
    <div class="containeremployee">
          <div class="d-flex justify-content-center">
            <h1>Datos personales empleado</h1>

          </div>
          <div class="d-flex justify-content-center">
            <img class="employee-icon" src="../../assets/employees.png" alt="Icono empleados">
          </div>



          <form [formGroup]="personalDataFormGroup">

            <div class="row">
              <div class="col-sm">
              <mat-form-field class="w-100" appearance="outline">
                <mat-label>Ingrese el nombre</mat-label>
                <input matInput type="text" name="name" id="name" formControlName="name"  placeholder="Escriba aquí" required>
                <mat-error *ngIf="personalDataFormGroup.get('name')?.hasError('required')">Ingresa un valor</mat-error>
              </mat-form-field>
              </div>
              <div class="col-sm">
              <mat-form-field class="w-100" appearance="outline">
                <mat-label>Apellido paterno</mat-label>
                <input matInput type="text" name="lastname" id="lastname" formControlName="lastName" placeholder="Escriba aquí" required>
                <mat-error *ngIf="personalDataFormGroup.get('lastname')?.hasError('required')">Ingresa un valor</mat-error>
              </mat-form-field>
            </div>

            <div class="col-sm">
              <mat-form-field  class="w-100" appearance="outline">
                <mat-label>Apellido materno</mat-label>
                <input matInput type="text" name="secondLastName" id="secondLastName" formControlName="secondLastName" placeholder="Escriba aquí" required>
                <mat-error *ngIf="personalDataFormGroup.get('secondLastName')?.hasError('required')">Ingresa un valor</mat-error>
              </mat-form-field>
            </div>

            <div class="col-sm">
              <mat-form-field  class="w-100" appearance="outline">
                <mat-label>Ingrese el rol del empleado</mat-label>
                <input matInput type="text" name="role" id="role" formControlName="role" placeholder="Escriba aquí" required>
                <mat-error *ngIf="personalDataFormGroup.get('role')?.hasError('required')">Ingresa un valor</mat-error>
              </mat-form-field>
            </div>
            <div class="col-sm">
              <mat-form-field class="w-100" appearance="outline">
                <mat-label>Sexo:</mat-label>
                <mat-select name="gender" id="gender" formControlName="gender" required>
                  <mat-option *ngFor="let item of genderOptions" [value]="item.value">{{item.name}}</mat-option>
                </mat-select>
                <mat-error *ngIf="personalDataFormGroup.get('gender')?.hasError('required')">Selecciona una opción</mat-error>
              </mat-form-field>
            </div>

            </div>

            <button  class="button button-primary" (click)="addEmployee()">Guardar</button>
            <button  class="button button-secondary" style="margin: 10px;" (click)="close()">Cancelar</button>
          </form>



    </div>





